---
import { circleTexts } from "../scripts/services";

interface Props {
  name: string;
  color: "green" | "orange" | "grey" | "blue";
  size: "130" | "90";
  noInteraction?: boolean;
  id: number;
  chapter: string;
}

const { id, chapter, name, color, size, noInteraction } = Astro.props;
---

<div
  id=`head-${id}-${chapter}`
  class=`head bg-${color} min-w-${size} w-${size} h-${size} ${noInteraction ? "" : "interaction"} aspect-square rounded-full flex justify-center items-center relative`
>
  <img src=`./head-${name.toLowerCase()}.png` />

  <svg
    class="w-full h-full absolute opacity-0"
    id="Layer_2"
    data-name="Layer 2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 461.49 461.48"
    ><Fragment set:html={circleTexts.get(name.toLowerCase())} /></svg
  >
</div>
<style>
  .head {
    &.interaction:hover {
      @apply z-50;

      img {
        @apply animate-spin-slow;
      }
      svg {
        @apply opacity-100 size-[140%] animate-spin-reverse transition-all duration-300;
      }
    }
  }
</style>
