---
import PostIt from "../PostIt.astro";
---

<div
  id="brainstorm"
  class="chapter h-full visible-page-width relative flex justify-center items-center"
>
  <span
    class="parallax-plane-1-brainstorm bg-grey text-green text-5xl relative z-20 rounded-full px-40 py-10 font-io-thin -rotate-3"
  >
    <span class="font-io-bold">F</span>irst <span class="font-io-bold">I</span
    >deas
  </span>
  <PostIt
    color="green"
    name="adam"
    stay={true}
    id={0}
    chapter="brainstorm"
    text="Something with connected neighbourhoods."
  />
  <PostIt
    color="green"
    name="adam"
    stay={false}
    id={1}
    chapter="brainstorm"
    text="inclusivity: Using smart tech to make a positive impact. To make a city more accessible."
  />
  <PostIt
    color="green"
    name="adam"
    stay={false}
    id={2}
    chapter="brainstorm"
    text="Something with public transport?"
  />
  <PostIt
    color="green"
    name="adam"
    stay={false}
    id={3}
    chapter="brainstorm"
    text="Kortrijk Brussels Gent Leuven"
  />
  <PostIt
    color="white"
    name="adam"
    stay={false}
    id={4}
    chapter="brainstorm"
    text="Heatmap of more and less safe areas, real-time updated with user input"
  />
  <PostIt
    color="white"
    name="adam"
    stay={false}
    id={5}
    chapter="brainstorm"
    text="Maybe work together with social workers."
  />
  <PostIt
    color="white"
    name="adam"
    stay={false}
    id={6}
    chapter="brainstorm"
    text="Safety buttons app in the city to receive an info about more/less secure areas"
  />
  <PostIt
    color="white"
    name="ella"
    stay={false}
    id={7}
    chapter="brainstorm"
    text="Maybe some user research to see who feels unsafe and why, what time, which areas etc"
  />
  <PostIt
    color="green"
    name="adam"
    stay={false}
    id={8}
    chapter="brainstorm"
    text="A tour for international students to learn about the city in a useful way: shops, laundry, campuses"
  />
  <PostIt
    color="orange"
    name="adam"
    stay={false}
    id={9}
    chapter="brainstorm"
    text="An app that takes a survey to show you the tailored shops/bars etc. to international students"
  />
  <PostIt
    color="orange"
    name="ella"
    stay={false}
    id={10}
    chapter="brainstorm"
    text="A way to make friends, an app to find your people and the places they hang out in."
  />
  <PostIt
    color="blue"
    name="marats"
    stay={false}
    id={11}
    chapter="brainstorm"
    text="Parkings sensors that tell you in an application where there is free parking"
  />
</div>
